.first-note {
    .note {
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;

        .lightning-img {
            margin-bottom: 3rem;
            img {
                width: 2rem;
                animation: blink 1s infinite;
            }

            @keyframes blink {
                0% {
                    transform: rotate(0deg);
                }
                50% {
                    transform: rotate(10deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
        }

        .notes {
            p {
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.8rem;
                text-align: center;
            }
        }
    }
}