.gallery {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .container {
        .content {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            .photo {
                flex: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 90%;
                    
                }
            }
            .content-text {
                flex: 55%;
                line-height: 1;
                h4 {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 1.7rem;
                    font-weight: 100;
                }
                h2 {
                    font-family: 'Rubik Mono One', sans-serif;
                    color: $dark;
                    word-spacing: -1.5rem;
                    letter-spacing: -4px;
                    font-size: 3rem;
                    text-transform: uppercase;
                    margin-left: -3px;
                }
                p {
                    width: 90%;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.1rem;
                    color: $gray-dark;
                }
            };
        }

        .content:nth-of-type(2) {
            flex-direction: row-reverse;
            position: relative;
            .content-text {
                flex: 30%;
                p {
                    width: 50%;
                }
            }
            .photo {
                img {
                    position: absolute;
                    bottom: 70%;
                    right: 5%;
                    width: 30%;
                }
            }
        }
    }
}

// @media (max-width: 800px) {
//     .photo,
//     .content-text {
//         flex: 100%;
//     }
// }